@model IEnumerable<WrokFlowWeb.ViewModel.CategoryMaster.CategoryMasterViewModel>
@{
    ViewBag.Title = "Category Listing";
}

<h1> Category</h1>


<a class="btn btn-primary mb-3" asp-controller="master" asp-action="CategoryCreate"> Add New Category</a>
<br />
<input id="GridSearch" placeholder="search" />
<br />
@Html.AjaxGrid(Url.Action("CategoryList"))

<script>
    document.getElementById("GridSearch").addEventListener("input", function () {
        const grid = new MvcGrid(document.querySelector(".mvc-grid"));


        grid.url.searchParams.set("search", this.value);

        grid.reload();
    });
</script>





