@model WrokFlowWeb.ViewModel.SupplierRequest.SupplierRequestListViewModel
@{
    ViewBag.Title = "Supplier Requests";
}


<h1> Supplier Requests</h1>
<a class="btn btn-primary mb-3" asp-action="Get" asp-controller="SupplierRequest"> Add Supplier Request</a>

@if (Model.SupplierRequests.Any())
{


    @(Html
    .Grid(Model.SupplierRequests)
    .Build(columns =>
    {


        columns.Add(model => model.SupplierRequestId).Titled("Supplier Code");
        columns.Add(model => model.SuplierTypeRequest.SuplierTypeRequest).Titled("Suplier Type");
        columns.Add(model => model.RequestTypeMaster.RequestType).Titled("Request Type");
        columns.Add(model => model.RequesterName).Titled("Requester Name");
        columns.Add(model => model.SupplierName).Titled("Supplier Name");
        columns.Add(model => model.PostalCode).Titled("Postal Code");
        columns.Add(model => model.EmailId).Titled("Email");
        columns.Add(model => model.ContactPhone).Titled("Contact No");
        columns.Add(model => model.SupplierRequestApprovalLog.Where(x=>x.SupplierRequestApprovalId==model.SupplierRequestApprovalId).FirstOrDefault().RoleApprovalMaster.Role.Name).Titled("Approval Status");

        columns.Add(model => string.Join(',',model.SupplierRequestCategoryMapping.Select(y=>y.CategoryMaster.Category))).Titled("Category");
        columns.Add(model => $"<a href=\"Edit?requestid={model.SupplierRequestId}\">Edit</a>").Encoded(false);
        //columns.Add(model => $"<a href=\"@Url.Action('Delete', 'movies', new { requestid = model.SupplierRequestId })\">Edit</a>").Encoded(false);



    }).Pageable(pager =>
    {
        pager.PageSizes = new Dictionary<Int32, String> { { 0, "All" }, { 10, "10" }, { 25, "25" } };
        pager.ShowPageSizes = true;
        pager.PagesToDisplay = 3;
        pager.CurrentPage = 1;
        pager.RowsPerPage = 10;
    })
)
}

