@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="w-100 h-100 bg-white p-10 border-radius-5 box-shadow">
    <div class="d-flex flex-column h-100 w-100 pl-10">
        <div class="d-flex flex-0 w-100 pb-10 border-bottom">
            <div class="f-14">@ViewBag.PageName</div>
        </div>
        <div class="d-flex flex-1 w-100 account_container pt-10">
            <div class="tabLeft h-100 overflow-y flex-184">
                <partial name="_ManageNav" />
            </div>
            <div class="tabRight flex-auto h-100 overflow-y">
                @RenderBody()
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @RenderSection("Scripts", required: false)
}
