@page
@model RegisterUserModel

@{
    ViewBag.PageName = "ListUsers";
}

@{
    ViewData["Title"] = "User Registration";
}

<div class="w-100 h-100 bg-white p-10 border-radius-5 box-shadow">
    <div class="d-flex flex-column h-100 w-100">
        <div class="d-flex justify-content-end pb-2 border-bottom">
           <a class="btn btn-primary ml-1" asp-action="ListUsers" asp-controller="Role">All Users</a>
           <a class="btn btn-primary ml-1" asp-controller="role" asp-action="MapUserSupplier"> Map User Supplier</a>
        </div>
        <div class="d-flex flex-1 overflow-y w-100 grid-100 pt-10">
            <div class="d-inline-block two-column-form">
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.FirstName"></label>
                        <input asp-for="Input.FirstName" class="form-control" />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.LastName"></label>
                        <input asp-for="Input.LastName" class="form-control" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.UserType"></label>
                        <select asp-for="Input.UserType" class="form-control">
                            <option></option>
                            <option value="1">Internal user</option>
                            <option value="2">External User</option>
                        </select>
                        <span asp-validation-for="Input.UserType" class="text-danger"></span>
                    </div>

                    <div class="form-group controlId">
                        <label asp-for="Input.SupplierRequestId"></label>
                        <select class="form-control" asp-for="Input.SupplierRequestId" 
                                asp-items="@(new SelectList(Model.SupplierRequests,"SupplierRequestId","SupplierName"))">
                            <option></option>
                        </select>
                        <span asp-validation-for="Input.SupplierRequestId" class="text-danger"></span>
                    </div>

                    <div class="form-group controlId">
                        <label asp-for="Input.CompanyName"></label>
                        <input asp-for="Input.CompanyName" class="form-control" />
                        <span asp-validation-for="Input.CompanyName" class="text-danger"></span>
                    </div>
 

                    <div class="form-group">
                        <label asp-for="Input.CostCenter"></label>
                        <input asp-for="Input.CostCenter" class="form-control" />
                        <span asp-validation-for="Input.CostCenter" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Input.Department"></label>
                        <input asp-for="Input.Department" class="form-control" />
                        <span asp-validation-for="Input.Department" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Input.StartDate"></label>
                        <input asp-for="Input.StartDate" class="form-control" />
                        <span asp-validation-for="Input.StartDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="d-flex pb-10">
                        <button type="submit" class="btn btn-primary mr-1">Register</button>
                        <a asp-controller="Role" asp-action="ListUsers" class="btn btn-primary mr-1">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
     </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(".controlId").hide();
        $(".error").hide();
        $("#Input_UserType").on("change", function () {
            if ($("#Input_UserType option:selected").val() == 2) {
                $(".controlId").show();
            } else {
                $(".controlId").hide();
            }
        });
    </script>
}
