
@model WrokFlowWeb.ViewModel.CategoryMaster.CategoryMasterViewModel

@{
    ViewBag.Title = "Create Category";
}
@{
    ViewBag.PageName = "Masters";
}




<div class="w-100 h-100 bg-white p-10 border-radius-5 box-shadow">
    <div class="d-flex flex-column h-100 w-100">
        <div class="d-flex flex-1 w-100 h-100 overflow-y pt-10">
            <div class="single-column d-flex flex-column">
                <form method="post" asp-controller="Master" asp-action="CreateCategory">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Category"></label>
                        <input asp-for="Category" class="form-control" />
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <button id="btnSubmit" type="submit" class="btn btn-primary">Create Category</button>
                    <a asp-controller="SupplierRequest" asp-action="CategoryList" class="btn btn-primary" style="width:auto">Cancel</a>
                </form>
            </div>  
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}