@model IEnumerable<WrokFlowWeb.Database.AspNetUsers>






    @(Html
    .Grid(Model)
    .Build(columns =>
    {


        columns.Add(model => model.FirstName).Titled("First Name");
        columns.Add(model => model.LastName).Titled("Last Name");
        columns.Add(model => model.Email).Titled("Email");
        columns.Add(model => model.SupplierRequest !=null ? string.Join('-', model.SupplierRequest.SupplierRequestId.ToString(), model.SupplierRequest.SupplierName.ToString()): string.Empty).Titled("Supplier Name");
        columns.Add(model => model.PhoneNumber).Titled("Phone Number");
        columns.Add(model => model.Department).Titled("Department");
        columns.Add(model => model.StartDate).Titled("Start Date").Formatted("{0:d}");
        columns.Add(model => $"<a href=\"/Identity/Account/RegisterUserEdit?id={model.Id}\">Edit</a>").Encoded(false);

    })
    .Empty("No User Registration data to be displayed")
    .Pageable(pager =>
    {
        pager.PageSizes = new Dictionary<Int32, String> { { 0, "All" }, { 10, "10" }, { 25, "25" } };
        pager.ShowPageSizes = true;
        pager.PagesToDisplay = 3;
        pager.CurrentPage = 1;
        pager.RowsPerPage = 10;
    })
)


