@model IEnumerable<WrokFlowWeb.Areas.Identity.Data.WrokFlowWebUser>
@{
    ViewBag.PageName = "ListUsers";
}
@{
    ViewBag.Title = "All Users";
}

<div class="w-100 h-100 bg-white p-10 border-radius-5 box-shadow">
    <div class="d-flex flex-column h-100 w-100">
        <div class="d-flex justify-content-between pb-2">
            <div class="search form-group mb-0">
                <input class="form-control" id="GridSearch" placeholder="search user" />
            </div>
            <div>
                <a class="btn btn-primary ml-1" href="~/Identity/Account/RegisterUser"> Add New User</a>
                <a class="btn btn-primary ml-1" asp-controller="role" asp-action="MapUserSupplier"> Map User Supplier</a>
            </div>
        </div>

        <div class="d-flex flex-1 overflow-y w-100 h-100 grid">
            @Html.AjaxGrid(Url.Action("ListUsers"))
        </div>
    </div>
</div>
    <script>
        document.getElementById("GridSearch").addEventListener("input", function () {
            const grid = new MvcGrid(document.querySelector(".mvc-grid"));


            grid.url.searchParams.set("search", this.value);

            grid.reload();
        });
    </script>





