@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewBag.PageName = "Roles";
}

@{
    ViewBag.Title = "All Roles";
}

<div class="w-100 h-100 bg-white p-10 border-radius-5 box-shadow">
    <div class="d-flex flex-column h-100 w-100">
        @if (Model.Any())
        {
            <div class="d-flex justify-content-end flex-0">
                <a class="btn btn-primary mb-3" asp-action="Create" asp-controller="Role"> Add New Role</a>
            </div>
            <div class="d-flex flex-1 overflow-y w-100 h-100 grid-h-100">
                @*foreach (var role in Model)
                {
                <div class="card mb-3">
                    <div class="card-header">
                        Role ID: @role.Id
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"> @role.Name</h5>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Edit</a>
                        <a href="#" class="btn btn-primary">Delete</a>
                    </div>
                </div>
                    }*@

                @(Html
                    .Grid(Model)
                    .Build(columns =>
                    {
                        

                        columns.Add(model => model.Name).Titled("Name");
                        columns.Add(model => $"<a class=\"btn btn-sm btn-info whiteColor\" href=\"Details\\{model.Id}\"><i class=\"fa fa-pencil-alt\"></i>&nbsp;Edit</a>").Encoded(false).Css("w-71");
                     

                    }).Pageable(pager =>
                    {
                        pager.PageSizes = new Dictionary<Int32, String> { { 0, "All" }, { 10, "10" }, { 25, "25" } };
                        pager.ShowPageSizes = true;
                        pager.PagesToDisplay = 3;
                        pager.CurrentPage = 1;
                        pager.RowsPerPage = 10;
                    })
                    )
            </div>
         }
            
    </div>
</div>
