/*Layout styles starts*/
.logo a { font-family: 'Bebas Neue', cursive;  font-size: 1.6rem; text-decoration: none;  color: #808080;
    padding: 8px 10px 8px; line-height: normal; text-align: center;}
.containerLeft { flex:0 0 220px; }
.containerRight { padding-bottom:5px !important;  }
ul.sidebarNav { padding:5px 10px; }
ul.sidebarNav li { padding:4px 0; }
ul.sidebarNav li a.nav-link { padding: 8px 12px;   border-radius: 20px; border: 1px solid transparent; }
ul.sidebarNav li a:hover, ul.sidebarNav li a.active {
    background: #fff; box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .09);
    border: 1px solid #eaeaea;
}
ul.sidebarNav li a.nav-link img { margin:0 4px 0 0; }
.pageTitle { font-size:1.1rem; }
header { border-radius:5px; }
header ul.navbar-nav { flex-direction:row; list-style:none; position:relative; }
header ul.navbar-nav > li { display: block; padding: 10px 0; }
header ul.navbar-nav ul {
    position: absolute; top:100%; right: -10px;  width: 180px; background:transparent; box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .09);
    display: none;  margin: 0; padding: 0; list-style: none;  z-index:100;
}
header ul.navbar-nav ul li { background:#fff; display:block; } 
header ul.navbar-nav ul li a, header ul.navbar-nav ul li button { text-align: left; padding: 6px !important;  display: block;  font-size: 14px; width:100% }
header ul.navbar-nav li:hover ul { display:block; }
.profile_icon {
    width: 36px; height: 36px;  border-radius: 50%;  background: url("../images/profile-icon.png") no-repeat center #e4e4e4;
    overflow: hidden; margin: 0 5px; display: inline-block;  background-size: 22px; vertical-align: middle; z-index:100;
}
.main_content_area  { display: flex; width: 100%; height: calc(100% - 84px); }
.account_container { height: calc(100% - 40px); }
.tabLeft li.nav-item { padding: 4px; }
.tabLeft li.nav-item a { border:1px solid transparent; }
.tabLeft .nav-pills .nav-link.active,
.tabLeft .nav-pills .show > .nav-link { color: #808080; background-color: #fff;  border-radius: 16px; box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .09);
    border: 1px solid #eaeaea;
}
.text-danger ul { margin:0; padding:0; }
.text-danger ul li { list-style:none; }

/*Layout styles ends*/

/*dashboard style starts*/

.widget {
    width:100%;  height: 150px;  background: #fff;  border-radius: 8px; padding: 10px;
}

.colorRed .title { color: #ef6204; }
.colorGreen .title { color: #9fe131; }
.colorOrange .title { color: #ff9500; }
.colorBlue .title { color: #00bdff; }


.colorRed .circle-chart__circle { stroke:#ef6204 !important; }
.colorGreen .circle-chart__circle { stroke:#9fe131 !important; }
.colorOrange .circle-chart__circle { stroke:#ff9500 !important; }
.colorBlue .circle-chart__circle { stroke:#00bdff !important;  }

.widget_count {
    font-size: 60px;
    position: relative;
    top: 11px;
}
.widget_count sub { font-size: 15px;  bottom: 0;  }
.widget svg { margin: 0 0 5px; }

.circle-chart__circle {
    animation: circle-chart-fill 2s reverse; 
    transform: rotate(-90deg); 
    transform-origin: center; 
}

@keyframes circle-chart-fill {
    to {
        stroke-dasharray: 0 100;
    }
}

/*dashboard style ends*/


/**form style starts**/
.two-column-form .form-group {
    width: 320px;
    display: inline-block;
    padding: 0 10px 0 0;
}
.search input { height:32px; }

/**form style ends**/

.grid-small table th {
    background: #fff;
    font-size: 13px;
    padding: 8px 4px;
    border-bottom: 1px solid #ececec;
}
.grid-small table tbody td  { padding:8px 4px; }
.grid-small table tbody tr:nth-of-type(even) { background:#f7f7f7; }
.grid-h-100 > div {  position: relative;  height: 100%;  padding:0;  }

table {
    font-size: 14px;
    table-layout: fixed;
    white-space: nowrap;
    min-width:100%;
}

th {
    text-align: inherit;
    font-weight: normal;
    padding: 8px 12px;
    font-size: 14px;
    border-bottom: 1px solid #f2f2f2;
    background: #fff;
}

td {
    padding: 8px 12px;
    border-bottom: 1px solid #f2f2f2;
    background:#fff;
}
tbody tr:nth-of-type(odd) td, .fieldWrap:nth-of-type(even) { background:#F5F5F5; }
.w-122 { width:122px; }
.w-71 { width:71px; }
.grid-h-100 th { position: sticky;  top: 0;  box-shadow: 0 1px 1px #f2f2f2;  background:#fff; z-index:1; }
.fieldWrap { padding:5px; }
.fieldWrap .label { width:240px; }
.grid-h-100 table th:nth-last-of-type(1), .grid-h-100 td:nth-last-of-type(1) {
    position: sticky;
    right: 0;
}