
.logo a {
    font-family: 'Bebas Neue', cursive; text-decoration: none; color: #fff; padding: 0; line-height: normal;
    text-align: center; position: relative; z-index: 10; letter-spacing: 1px; margin: 0 0 15px; font-size:2rem;
}
.login_reg_container { background:url("../images/login_bg.jpg") no-repeat center #3498db; background-size:cover; position:relative; }
.login_reg_container:after { content:" "; position:absolute; background:#000; opacity:0.4; z-index:1; top:0; left:0; width:100%; height:100%;  }
.log_reg_inner {  width: 410px; border-radius: 10px;  padding: 15px; box-shadow: 0 2px 15px 0px #000000; position:relative; z-index:100; }
.form_Header { margin: 0; font-size: 22px; text-transform: uppercase;  text-align: center;
    padding: 10px;  border-bottom: 1px solid #e2e2e2; }
.formBtns .btn { width:100px; }
.btn-primary {
    font-size: 15px;
}